<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index of Virginia Printing</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.brown-deep_orange.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'VirginiaPrinting/default.css' %}" />
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row title-row">
      <!-- Title -->
      <span class="title-link"><a href="{% url 'VPDB:index' %}">Index of Virginia Printing</a></span>
      <div class="mdl-layout-spacer"></div>
        <!-- Expandable Searchbar -->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
            <form action="{% url 'VPDB:search' %}" method="get">
          <input class="mdl-textfield__input" type="text" name="search_term" id="fixed-header-drawer-exp" placeholder="Search the Database!">
          <input class="hidden" type="submit">
            </form>
        </div>
        </div>
    </div>
<div class="mdl-layout__header-row">
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{% url 'VPDB:index' %}">Home</a>

        <button id="browse-menu" class="mdl-button mdl-js-button">
          Browse...
        </button>

        <ul class="mdl-menu mdl-js-menu" for="browse-menu">
            <a href="{% url 'VPDB:bios_index' %}"><li class="mdl-menu__item">Biographies</li></a>
            <a href="{% url 'VPDB:news_cites_index' %}"><li class="mdl-menu__item">Newspaper Citations</li></a>
            <a href="{% url 'VPDB:news_hists_index' %}"><li class="mdl-menu__item">Newspaper Lineages</li></a>
            <a href="{% url 'VPDB:imprints_index' %}"><li class="mdl-menu__item">Imprint Records</li></a>
            <a href="{% url 'VPDB:chronology_imprints_detail' %}"><li class="mdl-menu__item">Chronologically</li></a>
        </ul>

        <a class="mdl-navigation__link" href="{% url 'VPDB:about' %}">About</a>
      </nav>
</div>
  </header>

  <main class="mdl-layout__content">
    <div class="page-content">
        <br>
        <p>
            This project represents a continuation of research conducted by David A. Rawson, the compiler and editor
            here, for his 1998 doctoral dissertation at the College of William & Mary in Virginia.
        </p>
        <p>
            The use of digital technologies in scholarly research was in its early days then, allowing only for building
            a basic database of imprint records found in the newly-available online catalogues of university libraries
            and archival repositories. While the resulting database was a key part of that dissertation, it did not
            allow for an understanding of the people involved in their production. So to place those individuals in
            their proper historical context, to make them more than just a bare name on the printed page, further
            research was necessary.
        </p>
        <p>
            The mode employed here to present that extensive research was influenced by the inherent contrast between
            the flexibility of digital publishing and the inflexibility of printed books. All reference books,
            regardless of their quality or extent, are works that are essentially obsolete the moment they are
            published. A fixed physical form precludes any updating or correcting of them as new material is uncovered.
            However, by employing a digital format for such a resource, the work becomes a publication that can be
            updated regularly.
        </p>
        <p>
            This <i>Index of Virginia Printing</i> has been conceived as just such an updateable reference.
        </p>
        <p>
            Most of those long-standard reference works are limited by their focus as well, being simple bibliographic
            listings, so lacking biographical, geographical, and temporal context. In building three interconnected,
            relational databases, this <i>Index</i> is intended to link those who worked in the early Virginia print trade with
            the locales where they worked, the people they associated with, and the imprints that they produced or
            distributed.
        </p>
        <p>
            Bibliographic projects, such as this, require that one collect many small pieces of information from an even
            larger number of sources, both primary and secondary, before synthesizing them into a coherent entry. The
            details of that process are described in the large PDF documents that are linked below.
        </p>
        <p>
            The <b>Scope & Methodology</b> used in compiling this Index is explained <a href="">here</a>.
        </p>
        <p>
            A <b>Master Bibliography</b> of the sources consulted for this Index is detailed <a href="">here</a>.
        </p>
        <p>
            And complete lists of the <a href="{% url 'VPDB:bios_index' %}">Tradespersons</a>, the
            <a href="{% url 'VPDB:imprints_index' %}">Imprints</a>, and the <a href="{% url 'VPDB:news_hists_index' %}">
            Journals</a> contained in this <i>Index</i> can be seen through the links here.
        </p>
        <p>
            A description of this web-site's construction can be seen in this <a href="">PDF document</a>, being a copy of the final
            report filed by its builders – Courtney Davis and Leo Bowen-Biggs – as a requirement of their senior-year
            "Major Qualifying Project" at the Worcester Polytechnic Institute (2018).
        </p>
    </div>
  </main>
</div>
</body>
</html>