<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ biography.name }}</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'VirginiaPrinting/style.css' %}" />


</head>
<body>

<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Index of Virginia Printing</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{% url 'VPDB:index' %}">Home</a>
        <a class="mdl-navigation__link" href="{% url 'VPDB:about' %}">About</a>
        <a class="mdl-navigation__link" href="{% url 'VPDB:chronology_imprints_detail' %}">Chronology</a>
      </nav>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
            <form action="{% url 'VPDB:search' %}" method="get">
          <input class="mdl-textfield__input" type="text" name="search_term"
                 id="fixed-header-drawer-exp">
            <input class="hidden" type="submit">
                </form>
        </div>
      </div>

    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content">


<p><strong>Name:</strong> {{ biography.name }}</p>
{% if biography.formal_name %}
<p><strong>Formal Name:</strong> {{ biography.formal_name }}</p>
{% endif %}
<p><strong>First Date:</strong> {% if biography.first_date %}{{ biography.first_date }}{% else %}Unknown {% endif %}; <strong>Last Date:</strong> {% if biography.last_date %}{{ biography.last_date }}{% else %}Unknown{% endif %}</p>
<p><strong>Function:</strong> {% if biography.function %}{{ biography.function }}{% else %}Unknown{% endif %}</p>
<p><strong>Locales:</strong> {% if biography.locales %}{{ biography.locales }}{% else %}Unknown{% endif %}</p>

{% if biography.precis %}
<h3>Precis</h3>
{{ biography.precis }}
{% endif %}

<h3>Notes</h3>
<p>{{ biography.notes }}</p>

<h3>{{ biography.name }} is associated with {{ biography.associates.count }} other people.</h3>
{% if biography.associates.exists %}
    <ul>
        {% for associate in biography.associates.all %}
        <li><a href="{% url 'VPDB:bio_detail' associate.id %}">{{ associate.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

<h3>{{ biography.name }} is associated with {{ biography.newspapercitation_set.count }} newspaper variants.</h3>
{% if biography.newspapercitation_set.exists %}
    <ul>
        {% for citation in biography.newspapercitation_set.all %}
        <li><a href="{% url 'VPDB:news_cite_detail' citation.id %}">{{ citation.title }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

<h3>{{ biography.name }} is associated with {{ biography.imprintrecord_set.count }} imprint records:</h3>
{% if biography.imprintrecord_set.exists %}
    <ul>
        {% for imprint in biography.imprintrecord_set.all %}
        <li><a href="{% url 'VPDB:imprint_detail' imprint.imprint_number %}">{{ imprint.imprint_number }}: {{ imprint.short_title }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

<p>
    {% load static %}
    <a href="{% static 'VirginiaPrinting/records/biographies/' %}{{ biography.pdf_location }}">
        Printer-Friendly PDF
    </a>
</p>

<p><a href="{% url 'VPDB:bios_index' %}">Go back to Index of Biographies</a></p>

    </div>
  </main>
</div>

</body>
</html>