<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ imprint_record.short_title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'VirginiaPrinting/style.css' %}" />
</head>
<body>

<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Index of Virginia Printing</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{% url 'VPDB:index' %}">Home</a>
        <a class="mdl-navigation__link" href="{% url 'VPDB:about' %}">About</a>
        <a class="mdl-navigation__link" href="{% url 'VPDB:chronology_imprints_detail' %}">Chronology</a>
      </nav>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="fixed-header-drawer-exp">
        </div>
      </div>

    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content">

<h1>{{ imprint_record.imprint_number }}: {{ imprint_record.short_title }}</h1>

<p><strong>Published:</strong> {{ imprint_record.year }}</p>
<p><strong>Full Title:</strong> {{ imprint_record.title }}</p>
<p><strong>Author:</strong> {{ imprint_record.author }}</p>
<p><strong>Place Issued:</strong> {{ imprint_record.place_issued }}</p>
<p><strong>Issuing Press: </strong> {{ imprint_record.issuing_press }}</p>
<p><strong>Description: </strong> {{ imprint_record.description }}</p>

<h3>Notes</h3>
<p>{{ imprint_record.notes }}</p>

{% if imprint_record.associates.exists %}
    <p>There are {{ imprint_record.associates.count }} people associated with this imprint record:</p>
    <ul>
        {% for bio in imprint_record.associates.all %}
            <li><a href="{% url 'VPDB:bio_detail' bio.id %}">{{ bio.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

<p>
    {% load static %}
    <a href="{% static 'VirginiaPrinting/records/imprints/' %}{{ imprint_record.pdf_location }}">
        Printer-Friendly PDF
    </a>
</p>

<p><a href="{% url 'VPDB:imprints_index' %}">Go back to Index of Imprint Records</a></p>
    </div>
  </main>
</div>
</body>
</html>