<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ imprint_record.short_title }}</title>
</head>
<body>

<h1>{{ imprint_record.imprint_number }}: {{ imprint_record.short_title }}</h1>

<p><strong>Published:</strong> {{ imprint_record.year }}</p>
<p><strong>Full Title:</strong> {{ imprint_record.title }}</p>
<p><strong>Author:</strong> {{ imprint_record.author }}</p>
<p><strong>Place Issued:</strong> {{ imprint_record.place_issued }}</p>
<p><strong>Issuing Press: </strong> {{ imprint_record.issuing_press }}</p>
<p><strong>Description: </strong> {{ imprint_record.description }}</p>

<p>
    {% load static %}
    <a href="{% static 'VirginiaPrinting/records/imprints/' %}{{ imprint_record.pdf_location }}">
        Link to details about record {{ imprint_record.imprint_number }}.
    </a>
</p>

{% if imprint_record.associates.exists %}
    <p>There are {{ imprint_record.associates.count }} people associated with this imprint record:</p>
    <ul>
        {% for bio in imprint_record.associates.all %}
            <li><a href="{% url 'VPDB:bio_detail' bio.id %}">{{ bio.name }}</a></li>
        {% endfor %}
    </ul>
{% endif %}

<p><a href="{% url 'VPDB:imprints_index' %}">Go back to Index of Imprint Records</a></p>

</body>
</html>