<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index of Virginia Printing</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.brown-deep_orange.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'VirginiaPrinting/default.css' %}" />
</head>

<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row title-row">
      <!-- Title -->
      <span class="title-link"><a href="{% url 'VPDB:index' %}">Index of Virginia Printing</a></span>
      <div class="mdl-layout-spacer"></div>
        <!-- Expandable Searchbar -->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
            <form action="{% url 'VPDB:search' %}" method="get">
          <input class="mdl-textfield__input" type="text" name="search_term" id="fixed-header-drawer-exp" placeholder="Search the Database!">
          <input class="hidden" type="submit">
            </form>
        </div>
        </div>
    </div>
<div class="mdl-layout__header-row">
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{% url 'VPDB:index' %}">Home</a>

        <button id="browse-menu" class="mdl-button mdl-js-button">
          Browse...
        </button>

        <ul class="mdl-menu mdl-js-menu" for="browse-menu">
            <a href="{% url 'VPDB:bios_index' %}"><li class="mdl-menu__item">Biographies</li></a>
            <a href="{% url 'VPDB:news_cites_index' %}"><li class="mdl-menu__item">Newspaper Citations</li></a>
            <a href="{% url 'VPDB:news_hists_index' %}"><li class="mdl-menu__item">Newspaper Lineages</li></a>
            <a href="{% url 'VPDB:imprints_index' %}"><li class="mdl-menu__item">Imprint Records</li></a>
            <a href="{% url 'VPDB:chronology_imprints_detail' %}"><li class="mdl-menu__item">Chronologically</li></a>
        </ul>

        <a class="mdl-navigation__link" href="{% url 'VPDB:about' %}">About</a>
      </nav>
</div>
  </header>
  <main class="mdl-layout__content">
       <div class="page-content">
           <br>
           <span class="index-text">
               <p>
                   This <i>Index of Virginia Printing</i> offers updated and updateable descriptions of the people, imprints,
                   and journals that were a part of Virginia's print trade from its first offering in 1682 through those
                   produced for the 1820 General Assembly. And as such it represents a workable approach to the future
                   of scholarly reference works, particularly ones with a bibliographic or biographic focus.
               </p>
               <p>
                   This resource is comprised of three elements:
               </p>
                   <ul class="index-descr">
                       <li>Biographical Directory of the Virginia Printing Trade to 1820</li>
                       <p>
                           A series of short sketches of the <a href="{% url 'VPDB:bios_index' %}">{{ num_bios }} individuals</a> involved in the print trade from 1683
                           through 1820. The people depicted were employed in the trade functions of printer, publisher,
                           editor, bookbinder, bookseller, librarian, plate engraver, and plate printer, as well as many
                           apprentices to those roles. Authors and corporate groups were not included unless they could
                           also be identified as a publisher or editor in Virginia.
                       </p>
                       <li>Trial Catalogue of Imprints produced in Virginia through 1820</li>
                       <p>
                           A collection of itemized records for the <a href="{% url 'VPDB:imprints_index' %}">{{ num_imprints }} imprints</a> known to have been published in
                           Virginia between 1730 and 1820, including those ordered printed by the 1820 Assembly. Each
                           record covers the standard information seen in all such bibliographic records, with the
                           addition of notes on its production context and links to the trade-people associated with
                           that title, as well as any entry number for that item in the published bibliographies of
                           American printing.
                       </p>
                       <li>Narrative Histories of Virginia Newspapers issued through 1820</li>
                       <p>
                           A series of narrative accounts of the birth, life, and death of each of the <a href="{% url 'VPDB:news_hists_index' %}">{{ num_news_hists }} newspapers</a>
                           issued in Virginia before 1821. These histories are essentially genealogies which pull
                           together all of the title variations for each journal into one lineage, tracing the changes
                           in its ownership and the reasons for the changes, as well as the larger context in which that
                           periodical appeared. This collection covers just over <a href="{% url 'VPDB:news_cites_index' %}">{{ num_news_cites }} distinct titles</a> in those lineages.
                       </p>
                   </ul>
               <p>
                   Using this site's search capabilities, this Index allows researchers to better situate all three
                   components of the printing trade in their own investigations into Virginia's history.
               </p>
           </span>
           <span class="search-format">
      <form action="{% url 'VPDB:search' %}" method="get" id="search">
            <div class="mdl-textfield mdl-js-textfield">
                <input class="mdl-textfield__input search_term_index" type="text" id="search_term" name="search_term">
                <label class="mdl-textfield__label" for="sample1">Search the Database</label>
            </div>
          <button type="submit" formid="search" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">Search</button>
      </form>
           </span>

           <p>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Index of Virginia Printing</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://indexvirginiaprinting.org/" property="cc:attributionName" rel="cc:attributionURL">Dr. David Rawson</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
        </p>

       </div>
      <br>
      <br>
  </main>
</div>
</body>
</html>