<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ newspaper_history.newspaper_citation.title }}</title>
</head>
<body>

<h1>{{ newspaper_history.newspaper_citation.title }}</h1>

<p>
    {% load static %}
    <a href="{% static 'VirginiaPrinting/records/journal_histories/' %}{{ newspaper_history.pdf_location }}">
        Link to a narrative history of this Lineage.
    </a>
</p>

<p>
    For detailed information on each variation, see the
    <a href="{% url 'VPDB:news_cite_detail' newspaper_history.newspaper_citation_id %}">
        Newspaper Citation for {{ newspaper_history.newspaper_citation.title }}.
    </a>
</p>

<p><a href="{% url 'VPDB:news_hists_index' %}">Go back to Index of Newspaper Histories</a></p>

</body>
</html>