<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ newspaper_citation.title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    {% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'VirginiaPrinting/style.css' %}" />
</head>
<body>

<!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Index of Virginia Printing</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{% url 'VPDB:index' %}">Home</a>
        <a class="mdl-navigation__link" href="{% url 'VPDB:about' %}">About</a>
        <a class="mdl-navigation__link" href="{% url 'VPDB:chronology_imprints_detail' %}">Chronology</a>
      </nav>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
        <label class="mdl-button mdl-js-button mdl-button--icon"
               for="fixed-header-drawer-exp">
          <i class="material-icons">search</i>
        </label>
        <div class="mdl-textfield__expandable-holder">
          <input class="mdl-textfield__input" type="text" name="sample"
                 id="fixed-header-drawer-exp">
        </div>
      </div>

    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content">

<h1>{{ newspaper_citation.variant_number }}: {{ newspaper_citation.title }}</h1>


<p><strong>Starting Date:</strong> {{ newspaper_citation.start_date }}</p>
<p><strong>Ending Date:</strong> {{ newspaper_citation.end_date }}</p>
<p><strong>Publication Frequency:</strong> {{ newspaper_citation.frequency }}</p>
<p><strong>Proprietors:</strong> {{ newspaper_citation.proprietors }}</p>

<h3>Notes</h3>
<p>{{ newspaper_citation.notes }}</p>

{% load static %}

<p><em>{{ newspaper_citation.title }}</em> is part of the <a href="{% url 'VPDB:news_hist_detail' newspaper_citation.lineage_id %}">{{ newspaper_citation.lineage.group_title }} Lineage</a>. For detailed information on all the variants in the {{ newspaper_citation.lineage.group_title }} Lineage, <a href="{% static 'VirginiaPrinting/records/journal_citations/' %}{{ newspaper_citation.pdf_location }}">see here.</a></p>

{% if newspaper_citation.associates.exists %}
    <p>There are {{ newspaper_citation.associates.count }} people associated with {{ newspaper_citation.title }}:</p>
    <ul>
    {% for associate in newspaper_citation.associates.all %}
        <li><a href="{% url 'VPDB:bio_detail' associate.id %}">{{ associate.name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

<p><a href="{% url 'VPDB:news_cites_index' %}">Go back to Index of Newspaper Citations</a></p>
    </div>
  </main>
</div>
</body>
</html>